{% extends 'base.html' %}
{% block content %}

  <h2>Registration Form</h2>
<!-- Form allows user to input their information to register as new users -->
  <form action="/register" method="POST">
    <b>Email: <br></b>
    <input type="text" name="email"><br>
    <b>Password: <br></b>
    <input type="password" name="password"><br><br>
    <b>Age: <br></b>
    <input type="text" name="age"><br>
    <b>Zipcode: <br></b>
    <input type="text" name="zipcode"><br><br>
    <input type="submit" value="Register!">
  </form>


{% endblock %}